section.academic {
    background-color: var(--main-color);
}

.academic__courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.academic__courses__box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.academic__courses__item__img {
    border-radius: 24px;
    background: #FFF;
    display: flex;
    justify-content: center;
    height: 108px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.academic__courses__item__subtitle {
    font-size: 14px;
    font-weight: 500;

}

@media screen and (min-width: 768px) {
    .academic__courses {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .academic__courses__box {
        width: 48%;
    }

    .academic__courses__item__img {
        height: 160px;
    }

}

@media screen and (min-width: 1024px) {
    section.academic {
        max-width: none;
        padding-left: calc((100% - 964px)/2);
        padding-right: calc((100% - 964px)/2);
    }

    .academic__courses {
        flex-wrap: no-wrap;
        justify-content: space-between;
    }

    .academic__courses__box {
        width: 31%;
    }

    .academic__courses__item__img {
        height: 160px;
    }

}

@media screen and (min-width: 1440px) {
    section.academic {
        max-width: none;
        padding-left: calc((100% - 1300px)/2);
        padding-right: calc((100% - 1300px)/2);
    }

    .academic__courses__box {
        width: 32%;
    }
}
