.experience__section__title {
    margin-bottom: 1rem;
}

.experience__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    gap: 1rem;
}

.experience__img {
    border-radius: 16px;
}

.experience__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experience__box__description__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experience__description {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.experience__boton--repo {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.experience__boton--repo:hover {
    transform: scale(1.1);
    background-color: var(--main-color);
    color: var(--bg-color);
    border: none;
}

.experience__boton--demo {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.experience__boton--demo:hover {
    transform: scale(1.1);
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
}


@media screen and (min-width: 768px) {
    .experience__box__description__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .experience__description {
        width: max-content;
        max-width: 350px
    }
}

@media screen and (min-width: 1024px) {

    .experience__box {
        padding-bottom: 2rem;
        gap: 1rem;
    }

    .experience__box:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .experience__box:nth-child(even) {
        flex-direction: row;
        text-align: left;
    }

    .experience__img {
        width: 68%;
    }

    .experience__description {
        width: 100%;
        justify-content: flex-start;
    }


    .experience__box:nth-child(even) .experience__box__description__content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .experience__box:nth-child(odd) .experience__box__description__content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .experience__box:nth-child(even) .experience__box__description__content .experience__description {
        justify-content: flex-start;
    }

    .experience__box:nth-child(odd) .experience__box__description__content .experience__description {
        justify-content: flex-end;
    }

}
