section.footer {
    gap: 0.625rem;
    text-align: center;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
    section.footer {
        max-width: none;
        padding-left: calc((100% - 964px)/2);
        padding-right: calc((100% - 964px)/2);
    }
}

@media screen and (min-width: 1440px) {
    section.footer {
        max-width: none;
        padding-left: calc((100% - 1300px)/2);
        padding-right: calc((100% - 1300px)/2);
    }
}
