section.header {
    background: #ffffffe4;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 6%;
    margin: 0 auto;
    transition: .3s;
}

.menu__header,
.menu__header__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.logo {
    width: 10vw;
    min-width: 80px;
}

.menu__list {
    position: absolute;
    left: 0rem;
    top: 100%;
    display: none;
}

.menu__list__item {
    width: max-content;
    padding: 16px 0;
    align-self: flex-end;
}

.nav__toggle {
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    touch-action: auto;
    pointer-events: all;
}

.menu__list.active {
    display: flex;
    padding: 0 6%;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--bg-color-blur);
    backdrop-filter: var(--bg-blur);
    pointer-events: auto;
}



.link {
    font-size: var(--h3-mobile);
    font-weight: 600;
}

.link:last-child {
    font-weight: 700;
}

.link:hover {
    font-weight: 700;
    color: var(--main-color);
}

@media screen and (min-width: 1024px) {
    .menu__list {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu__list__item {
        padding: 0 16px;
        align-self: center;
        font-weight: 500;
    }

    .menu__list__item:last-child {
        font-weight: 700;
    }

    .nav__toggle {
        display: none;
    }
}
