.hobbies__line {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.hobbies__box {
    height: 120px;
    width: 47%;
    padding: 1rem;
    border-radius: 24px;
    background: white;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hobbies__img {
    max-height: 15vw;
    max-width: 15vw;
    align-self: center;
}

.hobbies__name {
    text-align: center;
    font-size: var(--h3-mobile);
    font-weight: 600;
}

@media screen and (min-width: 768px) {

    .hobbies__box {
        height: 150px;
        width: 31%;
    }
}

@media screen and (min-width: 1024px) {

    .hobbies__box {
        height: 146px;
        width: 15.2%;
    }

    .hobbies__img {
        max-height: 80px;
        max-width: 80px;
    }

}
