section.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.hobbies__line {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.hobbies__box {
    height: 100px;
    width: 35%;
    padding: 1rem;
    border-radius: 24px;
    background: var(--background-lila-claro);
}

.hobbies__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.hobbies__img {
    max-height: 15vw;
    max-width: 15vw;
    align-self: center;
}

.hobbies__name {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    section.hobbies {
        padding-top: 5rem;
        padding-bottom: 2.5rem;
    }

    .hobbies__box {
        height: 120px;
        width: 27%;
    }
}

@media screen and (min-width: 1024px) {
    section.hobbies {
        padding-bottom: 5.5rem;
    }

    .hobbies__box {
        height: 142px;
        width: 12.5%;
    }
}