section.skills {
    padding-bottom: 0;
}

.skills__line {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.skills__box {
    height: 120px;
    width: 47%;
    padding: 1rem;
    border-radius: 24px;
    background: white;
    box-shadow: var(--shadow-elevation-low);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills__img {
    max-height: 48px;
    max-width: 48px;
    align-self: center;
}

.skills__name {
    text-align: center;
    font-size: var(--h3-mobile);
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .skills__box {
        height: 150px;
        width: 31%;
    }

    .skills__img {
        max-height: 68px;
        max-width: 68px;
    }
}

@media screen and (min-width: 1024px) {

    .skills__box {
        height: 146px;
        width: 15.2%;
    }

    .skills__img {
        max-height: 60px;
        max-width: 60px;
    }

}
